<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <link rel="stylesheet" href="main.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/368363b8d0.js"></script>
  </head>
   <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #c0c2c4;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html"><span class="heading">MORE RECIPES</span></a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
              </a>
            </li>
          </ul>
          <ul class="navbar-nav pull-right">
            <li class="nav-item">
             
            
            </li>
            <li class="create">
              <h4>
              <a href="form.html">Edit Profile
              </h4>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">LOGOUT</a>
            </li>
          </ul>
        </div>
   </nav>
  <h2>
    <span class="wel-user">
      Welcome Username
    </span>
  </h2>
  <div class="searchBar text-center">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for Recipe...">
      <span class="input-group-btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        <button class="btn btn-secondary" type="button">Go</button>
      </span>
    </div>
  </div>
</div>
      <ul class="gallery">
          <li>
            <a href="indianRecipe.html">
              <img src="images/indianRecipe.jpg" class="img-fluid" alt="Responsive image">
            </a>
              <p class="iceCream">Title: Indian Potato Recipe<br><strong>Ingredients:</strong><br>Black Chana with Potato. Black chickpeas are simmered with potatoes onion, {turmeric, and cumin in this classic… ...
              Tomato Cucumber Kachumbar.
              Red Split Lentils (Masoor Dal)
              Coconut Chutney.
              Tamarind Sauce Fish Curry.
              <a href="indianRecipe.html" class="more">more</a>
              </p>
            <a href="#">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </a>
            <p class="love pull-right"><a href="#">&hearts;
            </a>
          </p>
          </li>
          <li>
            <a href="iceCream.html">
              <img src="images/iceCream.jpg" class="img-fluid" alt="Responsive image">
            </a>
              <p class="iceCream">Title: Ice Cream Recipe</bold><br><strong>Ingredients:</strong><br>
              Place sweetened condensed milk in the fridge to keep cold.
              Beat cold heavy cream on medium in a stand mixer fitted with the whisk attachment (or using a hand mixer) until stiff peaks form.
              Turn down the speed a little and pour the condensed milk into the whipped cream.
              <a href="signup.html" class="more">more</a>
            </p>
            <a href="#">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </a>
            <p class="love pull-right"><a href="#">&hearts;</a>
            </p>
          </li>
          <li>
            <a href="salmonRecipe.html">
              <img src="images/salmonRecipe.jpg" class="img-fluid" alt="Responsive image">
            </a>
              <p class="iceCream">Title: Salmon Recipe<br><strong>Ingredients:</strong><br>
            Made with just five ingredients (plus salt and pepper). Spread the mustard-maple sauce over each fillet, and then bake until the fish is cooked through. The dish will be ready in just 20 minutes.
                  <a href="signup.html" class="more">more</a>
              </p>
            <a href="#">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </a>
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </a>
            <p class="love pull-right"><a href="#">&hearts;</a></p>
          </li>
          <li>
            <a href="sandwichrecipe.html">
              <img src="images/sandwichrecipe.jpg" class="img-fluid" alt="Res
              Gyros.ponsive image">
            </a>
              <p class="iceCream"><Title: Bacon Sandwich Recipe<br><strong>Ingredients:</strong><br>
              Beef.
              Cheese.
              Ham.
              Tuna.
              Turkey.
              Grilled Cheese.
                <a href="signup.html" class="more">more</a>
              </p>
            <a href="#">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </a>
              <p class="love pull-right"><a href="#">&hearts;</a></p>
          </li>
          <li>
            <a href="SpaghettiSquashRecipe.html">
              <img src="images/SpaghettiSquashRecipe.jpg" class="img-fluid" alt="Responsive image">
            </a>
              <p class="iceCream">Title: Paleo Spaghetti Squash Recipe</bold><br><strong>Ingredients:</strong><br>
              1 medium spaghetti squash
              1/2 cup grated Parmesan cheese
              1/2 stick butter
              Salt and pepper
                <a href="signup.html" class="more">more</a>
              </p>
            <a href="#">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <a/> 
            <a href="#">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </a>
              <p class="love pull-right"><a href="#">&hearts;</a></p>
          </li>
      </ul>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </body>
</html>